@use "sass:map";

.btn {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn,
.btn:active,
.btn:focus {
    outline: none
}

.btn svg:not([class*=a-icon]),
.btn svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn circle,
.btn path,
.btn svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn defs circle,
.btn defs path,
.btn defs svg {
    transition-duration: 0ms
}

.btn__primary {
    align-items: center;
    background-color: #e8772b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__primary:active,
.btn__primary:focus {
    outline: none
}

.btn__primary svg:not([class*=a-icon]),
.btn__primary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__primary circle,
.btn__primary path,
.btn__primary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__primary defs circle,
.btn__primary defs path,
.btn__primary defs svg {
    transition-duration: 0ms
}

.btn__primary.disabled,
.btn__primary[disabled] {
    background-color: transparent;
    color: black;
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__primary.disabled svg,
.btn__primary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__primary.disabled:focus,
.has--keyboard-focus .btn__primary[disabled]:focus,
html.is-touch--with-mouse .btn__primary.disabled:hover,
html.is-touch--with-mouse .btn__primary[disabled]:hover,
html:not(.is-touch) .btn__primary.disabled:hover,
html:not(.is-touch) .btn__primary[disabled]:hover {
    background-color: transparent;
    color: black;
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__primary.disabled:focus svg,
.has--keyboard-focus .btn__primary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__primary:hover,
html:not(.is-touch) .btn__primary:hover {
    background-color: black;
    color: #fff;
    outline: none
}

.has--keyboard-focus .btn__primary:focus {
    background-color: #0c3b78;
    color: #fff
}

.has--keyboard-focus .btn__primary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__primary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__secondary {
    align-items: center;
    background-color: black;
    border: 0;
    color: #001838;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__secondary:active,
.btn__secondary:focus {
    outline: none
}

.btn__secondary svg:not([class*=a-icon]),
.btn__secondary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__secondary circle,
.btn__secondary path,
.btn__secondary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__secondary defs circle,
.btn__secondary defs path,
.btn__secondary defs svg {
    transition-duration: 0ms
}

.btn__secondary.disabled,
.btn__secondary[disabled] {
    background-color: #e6ff00;
    color: rgba(0, 24, 56, .4);
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__secondary.disabled svg,
.btn__secondary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__secondary.disabled:focus,
.has--keyboard-focus .btn__secondary[disabled]:focus,
html.is-touch--with-mouse .btn__secondary.disabled:hover,
html.is-touch--with-mouse .btn__secondary[disabled]:hover,
html:not(.is-touch) .btn__secondary.disabled:hover,
html:not(.is-touch) .btn__secondary[disabled]:hover {
    background-color: #e6ff00;
    color: rgba(0, 24, 56, .4);
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__secondary.disabled:focus svg,
.has--keyboard-focus .btn__secondary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__secondary:hover,
html:not(.is-touch) .btn__secondary:hover {
    background-color: #e8772b;
    color: #001838;
    outline: none
}

.has--keyboard-focus .btn__secondary:focus {
    background-color: #f0ff66;
    color: #001838
}

.has--keyboard-focus .btn__secondary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__secondary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__tertiary {
    align-items: center;
    background-color: #e86a59;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__tertiary:active,
.btn__tertiary:focus {
    outline: none
}

.btn__tertiary svg:not([class*=a-icon]),
.btn__tertiary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__tertiary circle,
.btn__tertiary path,
.btn__tertiary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__tertiary defs circle,
.btn__tertiary defs path,
.btn__tertiary defs svg {
    transition-duration: 0ms
}

.btn__tertiary.disabled,
.btn__tertiary[disabled] {
    background-color: #e86a59;
    color: hsla(0, 0%, 100%, .4);
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__tertiary.disabled svg,
.btn__tertiary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__tertiary.disabled:focus,
.has--keyboard-focus .btn__tertiary[disabled]:focus,
html.is-touch--with-mouse .btn__tertiary.disabled:hover,
html.is-touch--with-mouse .btn__tertiary[disabled]:hover,
html:not(.is-touch) .btn__tertiary.disabled:hover,
html:not(.is-touch) .btn__tertiary[disabled]:hover {
    background-color: #e86a59;
    color: hsla(0, 0%, 100%, .4);
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__tertiary.disabled:focus svg,
.has--keyboard-focus .btn__tertiary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__tertiary:hover,
html:not(.is-touch) .btn__tertiary:hover {
    background-color: #ff8a7a;
    color: #fff;
    outline: none
}

.has--keyboard-focus .btn__tertiary:focus {
    background-color: #ff8a7a;
    color: #fff
}

.has--keyboard-focus .btn__tertiary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__tertiary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__quaternary {
    align-items: center;
    background-color: rgba(59, 214, 255, .1);
    border: 0;
    color: #98c5e9;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__quaternary:active,
.btn__quaternary:focus {
    outline: none
}

.btn__quaternary svg:not([class*=a-icon]),
.btn__quaternary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__quaternary circle,
.btn__quaternary path,
.btn__quaternary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__quaternary defs circle,
.btn__quaternary defs path,
.btn__quaternary defs svg {
    transition-duration: 0ms
}

.btn__quaternary.disabled,
.btn__quaternary[disabled] {
    background-color: rgba(59, 214, 255, .1);
    color: rgba(152, 197, 233, .3);
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__quaternary.disabled svg,
.btn__quaternary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__quaternary.disabled:focus,
.has--keyboard-focus .btn__quaternary[disabled]:focus,
html.is-touch--with-mouse .btn__quaternary.disabled:hover,
html.is-touch--with-mouse .btn__quaternary[disabled]:hover,
html:not(.is-touch) .btn__quaternary.disabled:hover,
html:not(.is-touch) .btn__quaternary[disabled]:hover {
    background-color: rgba(59, 214, 255, .1);
    color: rgba(152, 197, 233, .3);
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__quaternary.disabled:focus svg,
.has--keyboard-focus .btn__quaternary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__quaternary:hover,
html:not(.is-touch) .btn__quaternary:hover {
    background-color: rgba(59, 214, 255, .2);
    color: #98c5e9;
    outline: none
}

.has--keyboard-focus .btn__quaternary:focus {
    background-color: rgba(59, 214, 255, .2);
    color: #98c5e9
}

.has--keyboard-focus .btn__quaternary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__quaternary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__quinary {
    align-items: center;
    background-color: hsla(0, 0%, 100%, .1);
    border: 0;
    color: #999;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__quinary:active,
.btn__quinary:focus {
    outline: none
}

.btn__quinary svg:not([class*=a-icon]),
.btn__quinary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__quinary circle,
.btn__quinary path,
.btn__quinary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__quinary defs circle,
.btn__quinary defs path,
.btn__quinary defs svg {
    transition-duration: 0ms
}

.btn__quinary.disabled,
.btn__quinary[disabled] {
    background-color: hsla(0, 0%, 100%, .1);
    color: hsla(0, 0%, 60%, .3);
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__quinary.disabled svg,
.btn__quinary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__quinary.disabled:focus,
.has--keyboard-focus .btn__quinary[disabled]:focus,
html.is-touch--with-mouse .btn__quinary.disabled:hover,
html.is-touch--with-mouse .btn__quinary[disabled]:hover,
html:not(.is-touch) .btn__quinary.disabled:hover,
html:not(.is-touch) .btn__quinary[disabled]:hover {
    background-color: hsla(0, 0%, 100%, .1);
    color: hsla(0, 0%, 60%, .3);
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__quinary.disabled:focus svg,
.has--keyboard-focus .btn__quinary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__quinary:hover,
html:not(.is-touch) .btn__quinary:hover {
    background-color: hsla(0, 0%, 100%, .2);
    color: #999;
    outline: none
}

.has--keyboard-focus .btn__quinary:focus {
    background-color: hsla(0, 0%, 100%, .2);
    color: #999
}

.has--keyboard-focus .btn__quinary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__quinary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__senary {
    align-items: center;
    background-color: #000824;
    border: 0;
    color: #98c5e9;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__senary:active,
.btn__senary:focus {
    outline: none
}

.btn__senary svg:not([class*=a-icon]),
.btn__senary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__senary circle,
.btn__senary path,
.btn__senary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__senary defs circle,
.btn__senary defs path,
.btn__senary defs svg {
    transition-duration: 0ms
}

.btn__senary.disabled,
.btn__senary[disabled] {
    background-color: #000824;
    color: rgba(152, 197, 233, .3);
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__senary.disabled svg,
.btn__senary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__senary.disabled:focus,
.has--keyboard-focus .btn__senary[disabled]:focus,
html.is-touch--with-mouse .btn__senary.disabled:hover,
html.is-touch--with-mouse .btn__senary[disabled]:hover,
html:not(.is-touch) .btn__senary.disabled:hover,
html:not(.is-touch) .btn__senary[disabled]:hover {
    background-color: #000824;
    color: rgba(152, 197, 233, .3);
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__senary.disabled:focus svg,
.has--keyboard-focus .btn__senary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__senary:hover,
html:not(.is-touch) .btn__senary:hover {
    background-color: #06123d;
    color: #98c5e9;
    outline: none
}

.has--keyboard-focus .btn__senary:focus {
    background-color: #06123d;
    color: #98c5e9
}

.has--keyboard-focus .btn__senary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__senary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__septenary {
    align-items: center;
    background-color: transparent;
    border: 1px solid #001838;
    box-sizing: border-box;
    color: #001838;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 19px 29px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__septenary:active,
.btn__septenary:focus {
    outline: none
}

.btn__septenary svg:not([class*=a-icon]),
.btn__septenary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__septenary circle,
.btn__septenary path,
.btn__septenary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__septenary defs circle,
.btn__septenary defs path,
.btn__septenary defs svg {
    transition-duration: 0ms
}

.btn__septenary.disabled,
.btn__septenary[disabled] {
    background-color: transparent;
    border-color: rgba(0, 24, 56, .3);
    color: rgba(0, 24, 56, .3);
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__septenary.disabled svg,
.btn__septenary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__septenary.disabled:focus,
.has--keyboard-focus .btn__septenary[disabled]:focus,
html.is-touch--with-mouse .btn__septenary.disabled:hover,
html.is-touch--with-mouse .btn__septenary[disabled]:hover,
html:not(.is-touch) .btn__septenary.disabled:hover,
html:not(.is-touch) .btn__septenary[disabled]:hover {
    background-color: transparent;
    color: rgba(0, 24, 56, .3);
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__septenary.disabled:focus svg,
.has--keyboard-focus .btn__septenary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__septenary:hover,
html:not(.is-touch) .btn__septenary:hover {
    background-color: transparent;
    border-color: #0c3b78;
    color: #0c3b78;
    outline: none
}

.has--keyboard-focus .btn__septenary:focus {
    background-color: transparent;
    border-color: #0c3b78;
    color: #0c3b78
}

.has--keyboard-focus .btn__septenary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__septenary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__octonary {
    align-items: center;
    background-color: transparent;
    border: 0;
    border: 1px solid hsla(0, 0%, 100%, .2);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font: 700 14px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    justify-content: center;
    letter-spacing: .14px;
    margin: 0;
    min-height: 60px;
    min-width: 120px;
    outline: none;
    padding: 19px 29px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top
}

.btn__octonary:active,
.btn__octonary:focus {
    outline: none
}

.btn__octonary svg:not([class*=a-icon]),
.btn__octonary svg:not([class*=a-icon])>* {
    fill: currentColor;
    stroke: currentColor
}

.btn__octonary circle,
.btn__octonary path,
.btn__octonary svg {
    transition-duration: .3s;
    transition-property: fill, stroke;
    transition-timing-function: ease-in-out
}

.btn__octonary defs circle,
.btn__octonary defs path,
.btn__octonary defs svg {
    transition-duration: 0ms
}

.btn__octonary.disabled,
.btn__octonary[disabled] {
    background-color: transparent;
    border-color: hsla(0, 0%, 100%, .2);
    color: hsla(0, 0%, 100%, .3);
    cursor: default;
    outline: none;
    pointer-events: none
}

.btn__octonary.disabled svg,
.btn__octonary[disabled] svg {
    fill: currentColor
}

.has--keyboard-focus .btn__octonary.disabled:focus,
.has--keyboard-focus .btn__octonary[disabled]:focus,
html.is-touch--with-mouse .btn__octonary.disabled:hover,
html.is-touch--with-mouse .btn__octonary[disabled]:hover,
html:not(.is-touch) .btn__octonary.disabled:hover,
html:not(.is-touch) .btn__octonary[disabled]:hover {
    background-color: transparent;
    color: hsla(0, 0%, 100%, .3);
    cursor: default;
    pointer-events: none
}

.has--keyboard-focus .btn__octonary.disabled:focus svg,
.has--keyboard-focus .btn__octonary[disabled]:focus svg {
    fill: currentColor
}

html.is-touch--with-mouse .btn__octonary:hover,
html:not(.is-touch) .btn__octonary:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    outline: none
}

.has--keyboard-focus .btn__octonary:focus {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.has--keyboard-focus .btn__octonary:focus .button__focus-helper {
    outline: none
}

.has--keyboard-focus .btn__octonary:focus .button__focus-helper:before {
    animation: focus-pulse 1.35s cubic-bezier(.785, .135, .15, .86) 3;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: .3;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0
}

.btn__lg {
    min-height: 60px;
    min-width: 120px;
    padding: 19px 29px
}

.btn__md {
    min-height: 50px;
    min-width: 100px;
    padding: 14px 19px
}

.btn__sm {
    font: 700 13px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    letter-spacing: .13px;
    line-height: 1.08;
    min-height: 40px;
    min-width: 85px;
    padding: 11px 14px;
    text-transform: uppercase
}

@media only screen and (max-width:991px) {
    .btn__mobile-block {
        width: 100%
    }
}

.account__sidebar .navigation a.active:before,
.account__sidebar .navigation a:hover:before {
    background: transparent no-repeat 50%;
    background-size: contain;
    box-sizing: border-box;
    display: inline-block;
    transition: .2s ease 0s;
    vertical-align: top
}

.form-group.required .form-control-label:before {
    color: red;
    content: "*"
}

.account-image {
    background-image: url(../../images/account.jpg);
    background-position-y: 40%
}

.card-footer>a,
.card-header>a {
    color: #98c5e9;
    text-decoration: underline
}

.card-header>a {
    float: right
}

.card-info-group p {
    margin-bottom: 0
}

.card-info-group div {
    margin-bottom: 1rem
}

.card-info-group div:last-child {
    margin-bottom: 0
}

.order-history h2,
.order-history-control h2 {
    font-weight: 700;
    margin-top: .5rem
}

.dashboard-order-card-image {
    padding-right: 1rem;
    width: 7rem
}

.dashboard-order-card-footer-columns:last-child {
    text-align: right
}

.dashboard-order-card-footer-value {
    font-size: 1rem;
    font-weight: 700
}

.card-header h2,
.card-header h3 {
    font-size: 1.5rem;
    margin-bottom: 0
}

.profile-back-to-account-link {
    color: #98c5e9;
    display: block;
    text-align: center;
    text-decoration: underline
}

.tracking-consent {
    color: #0070d2;
    cursor: pointer;
    text-decoration: underline
}

.account__sidebar {
    color: #69738c;
    font: 700 15px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    letter-spacing: normal;
    line-height: 1.63
}

.account__sidebar .text-secondary {
    color: #00080d !important;
    font: 500 33px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .33px;
    line-height: 1.19;
    text-transform: uppercase
}

.account__sidebar .navigation {
    list-style: none
}

.account__sidebar .navigation a {
    text-decoration: none
}

.account__sidebar .navigation a:before {
    content: "";
    display: inline-block;
    height: 2px;
    margin-right: 0;
    transition: width .3s, margin .3s;
    vertical-align: middle;
    width: 0
}

.account__sidebar .navigation a.active {
    font-weight: 700
}

.account__sidebar .navigation a.active,
.account__sidebar .navigation a:hover {
    color: #98c5e9
}

.account__sidebar .navigation a.active:before,
.account__sidebar .navigation a:hover:before {
    background-image: url(../images/logo-icon-fff.svg);
    height: 18px;
    height: 22px;
    margin-right: 12px;
    width: 18px
}

.account__sidebar .navigation-mobile {
    list-style: none
}

.account__sidebar .navigation-mobile li {
    border-left: none;
    border-right: none;
    border-top: 1px solid #dee2e6;
    height: 47px;
    line-height: 47px
}

.account__sidebar .navigation-mobile li.last {
    border-bottom: 1px solid #dee2e6
}

.account__sidebar .navigation-mobile li.last:after {
    display: none
}

.account__sidebar .navigation-mobile li:after {
    background-image: url(../images/arrow-dark.svg);
    content: "";
    height: 13px;
    margin-top: 4.5%;
    position: absolute;
    right: 6%;
    width: 8px
}

.account__sidebar .navigation-mobile a {
    text-decoration: none
}

.mobile-return-link {
    border-bottom: 1px solid #dee2e6;
    height: 58px;
    text-transform: uppercase
}

.mobile-return-link a {
    font: 900 57px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font: 700 23px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .57px;
    letter-spacing: .23px;
    line-height: 1.02;
    line-height: 58px;
    padding-left: 25px;
    text-decoration: none;
    text-transform: uppercase
}

.mobile-return-link:before {
    background-image: url(../images/arrow-dark.svg);
    content: "";
    height: 13px;
    position: absolute;
    top: 23px;
    transform: rotate(180deg);
    width: 8px
}

table.account-table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%
}

@media only screen and (max-width:991px) {
    table.account-table thead {
        display: none
    }
}

table.account-table thead th {
    padding: 10px 15px
}

@media only screen and (max-width:991px) {
    table.account-table tr {
        border: 1px solid #b2b2b2;
        display: flex;
        flex-wrap: wrap;
        padding: 15px 10px
    }
}

table.account-table tr:first-child td {
    border-top-width: 1px
}

table.account-table tr.hide-next .hide-next-inner {
    display: none
}

table.account-table tr.hide-next .show-next-inner {
    display: inline-block;
    min-width: 70px
}

table.account-table tr.hide-next+tr {
    border: 0 solid transparent;
    padding: 0
}

table.account-table tr.hide-next+tr td {
    border: 0 solid transparent;
    padding-bottom: 0;
    padding-top: 0;
    transition: .3s ease 0s
}

table.account-table tr.hide-next+tr td div,
table.account-table tr.hide-next+tr td p {
    height: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    transition: .1s ease 0s;
    visibility: hidden
}

table.account-table tr.show-next {
    border-bottom: 0 solid transparent
}

table.account-table tr.show-next .hide-next-inner {
    transition: .3s ease 0s
}

table.account-table tr.show-next .show-next-inner {
    display: none
}

table.account-table tr.show-next td {
    border-bottom: 0 solid transparent
}

table.account-table tr.show-next+tr {
    border-top: 0 solid transparent
}

table.account-table tr.show-next+tr td {
    padding-top: 0;
    transition: .3s ease 0s
}

table.account-table tr.show-next+tr td div,
table.account-table tr.show-next+tr td p {
    transition: .3s ease 0s
}

table.account-table tr.show-next+tr+tr.space td {
    height: 20px
}

table.account-table tr.space {
    border: 0;
    padding: 0
}

table.account-table tr.space td {
    border-left: 0;
    border-right: 0;
    height: 10px;
    padding: 0;
    transition: height .3s ease 0s
}

table.account-table tr td {
    border: solid #b2b2b2;
    border-width: 0 0 1px;
    padding: 20px
}

@media only screen and (max-width:991px) {
    table.account-table tr td {
        border: 0;
        display: block;
        padding: 5px 10px
    }
}

table.account-table tr td:first-child {
    border-left-width: 1px
}

table.account-table tr td:last-child {
    border-right-width: 1px
}

@media only screen and (max-width:991px) {
    table.account-table .mobile-between {
        align-items: center;
        display: flex;
        justify-content: space-between
    }
}

table.account-table .product-image {
    display: block;
    max-width: 80px
}

.container-order-detail {
    font: 900 57px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .57px;
    line-height: 1.02;
    max-width: 1043px;
    text-transform: uppercase
}

.container-order-detail .text-secondary {
    font-size: 16px
}

.container-order-detail .order-status-track .status-step {
    flex: 1 1 25%
}

.container-order-detail .order-status-track .status-step .step-img {
    background: #ededed;
    border-radius: 50%;
    height: 75px;
    position: relative;
    width: 75px
}

.container-order-detail .order-status-track .status-step .step-number {
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    color: #000;
    font-size: 12px;
    height: 20px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 20px
}

.container-order-detail .order-status-track .status-step img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.container-order-detail .order-status-track .status-step.active .step-number {
    background: #98c5e9;
    border-color: #98c5e9;
    color: #fff
}

.container-order-detail .order-status-track .status-step.active .status-title {
    color: #98c5e9;
    font-weight: 700
}

.order-detail-buttons {
    width: 100%
}

@media only screen and (min-width:992px) {
    .order-detail-buttons {
        width: auto
    }
}

.order-detail-buttons a {
    width: 100%
}

@media only screen and (min-width:992px) {
    .order-detail-buttons a {
        width: auto
    }
}

.receipt .product-info {
    border-top: 1px solid #dee2e6;
    flex-flow: row wrap;
    padding: 1em
}

.receipt .product-info:last-child {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 25px
}

.receipt .product-info .item-info-container {
    display: flex
}

.receipt .product-info .item-image {
    height: 8.625em
}

@media only screen and (min-width:1200px) {
    .receipt .product-info .item-image {
        height: 5.625em
    }
}

.receipt .product-info .item-image .product-image {
    margin: 0;
    max-height: 8.625em
}

.order-customer-summary {
    background: hsla(0, 0%, 85%, .38);
    padding: 1em
}

.order-customer-summary p:not(.order-summary-header) {
    margin-bottom: 5px;
    margin-top: 0
}

.strike-through {
    text-decoration: line-through
}

.strike-through+.pricing {
    color: #98c5e9
}

.checkout-order-total-summary {
    display: flex;
    flex-direction: column
}

@media only screen and (min-width:1200px) {
    .checkout-order-total-summary {
        flex-direction: row
    }
}

.checkout-order-total-summary .order-total-summary {
    margin-top: 20px;
    padding: 0 1em
}

.checkout-order-total-summary .order-total-summary:first-child {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px
}

@media only screen and (min-width:1200px) {
    .checkout-order-total-summary .order-total-summary:first-child {
        border-bottom: none;
        padding-bottom: 0
    }

    .checkout-order-total-summary .order-total-summary {
        margin-top: 0;
        padding: 0;
        width: 25%
    }
}

.checkout-order-total-summary .order-total-summary p {
    margin: 0 0 10px
}

.checkout-order-total-summary .order-total-summary .mobile-bold p {
    font-weight: 700
}

@media only screen and (min-width:1200px) {
    .checkout-order-total-summary .order-total-summary .mobile-bold p {
        font-weight: 400
    }
}

.checkout-order-total-summary .totals-price-label {
    float: left;
    width: 75%
}

.order-list-container {
    margin-left: 0
}

.order-list-container table {
    border-collapse: separate
}

@media only screen and (max-width:991px) {
    .order-list-container table {
        border-top: 1px solid #dee2e6;
        margin-bottom: 10px;
        padding: 15px
    }

    .order-list-container table:last-child {
        border-bottom: 1px solid #dee2e6
    }
}

@media only screen and (min-width:992px) {
    .order-list-container table {
        border-spacing: 0 6px
    }
}

.order-list-container table tbody {
    display: inline-table;
    font: 900 57px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .57px;
    line-height: 1.02;
    text-transform: uppercase;
    width: 100%
}

@media only screen and (min-width:1200px) {
    .order-list-container table tbody {
        padding-bottom: 100px
    }
}

.order-list-container table a:not(.btn-secondary) {
    color: #00080d
}

.order-list-container table a:not(.btn-secondary).order-id-value {
    font-weight: 700
}

.order-list-container table th {
    padding: 10px 14px
}

.order-list-container table td {
    padding: 5px
}

@media only screen and (min-width:992px) {
    .order-list-container table td {
        border-top: 1px solid #dee2e6;
        padding: 14px
    }

    .order-list-container table td:not(:first-child) {
        border-left: 0
    }

    .order-list-container table td:not(:last-child) {
        border-right: 0
    }
}

.order-list-container table td.mobile-label-td {
    font-weight: 700
}

.order-list-container table .order-card {
    height: 65px
}

.order-list-container table .order-card:last-child td {
    border-bottom: 1px solid #dee2e6;
    height: 75px
}

.text-secondary {
    color: #00080d !important;
    font: 500 33px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .33px;
    line-height: 1.19;
    text-transform: uppercase
}

.card--profile {
    border-width: 2px;
    border-bottom: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #dee2e6;
    height: auto;
    margin-bottom: 0;
    min-height: 275px
}

.card--profile.last {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 2em
}

@media only screen and (min-width:1200px) {
    .card--profile {
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 2em
    }
}

.card--profile .card-body {
    line-height: 40px;
    position: relative
}

.card--profile .card-body .address-heading {
    font: 500 33px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .33px;
    line-height: 1.19;
    line-height: 40px
}

.card--profile .card-link {
    position: absolute;
    right: 100px;
    top: 10px
}

.card--profile .card-link.remove-address {
    right: 10px
}

.add-new-address {
    width: 100%
}

@media only screen and (min-width:1200px) {
    .add-new-address {
        width: 165px
    }

    .edit-address {
        margin-left: 14%
    }

    .edit-address .address-form {
        width: 420px
    }
}

.edit-address .address-form .form-group:last-child {
    margin-bottom: 1em
}

.delete-address-modal {
    width: 600px
}

.delete-address-modal .modal-header .modal-title {
    font: 500 33px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .33px;
    line-height: 1.19;
    text-transform: uppercase
}

.delete-address-modal .modal-header .close-popup {
    cursor: pointer;
    transform: rotate(-90deg);
    transition-duration: .3s
}

.delete-address-modal .modal-header .close-popup:hover {
    transform: rotate(90deg);
    transition-duration: .3s
}

.delete-address-modal .modal-body .address-to-remove {
    font-weight: 700
}

@media only screen and (min-width:1200px) {
    .password-change {
        margin-left: 14%
    }

    .password-change .change-password-form {
        width: 420px
    }
}

.password-change .change-password-message {
    text-align: center;
    visibility: hidden
}

.password-change .change-password-message.success {
    color: #00b67b;
    visibility: visible
}

.password-change .change-password-message.error {
    color: red;
    visibility: visible
}

.edit-profile {
    max-width: 420px
}

@media only screen and (min-width:1200px) {
    .edit-profile {
        margin-left: 20% !important
    }
}

.edit-profile .text-secondary {
    color: #00080d !important;
    font: 500 33px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .33px;
    line-height: 1.19;
    text-transform: uppercase
}

.edit-membership {
    max-width: 420px
}

@media only screen and (min-width:1200px) {
    .edit-membership {
        margin-left: 20% !important
    }
}

.edit-membership .text-secondary {
    color: #00080d !important;
    font: 500 33px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .33px;
    line-height: 1.19;
    text-transform: uppercase
}

.edit-membership .membership-message-small {
    font: 900 57px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .57px;
    line-height: 1.02;
    text-transform: uppercase
}

.edit-membership .form-actions p {
    text-align: center
}

.card--profile .address-actions .card-link {
    right: 50px;
    top: 0
}

.card--profile .address-actions .card-link.remove-address {
    right: 10px
}

.card--profile .address-actions .checkbox label {
    transition: none
}

.card--profile .address-actions .checkbox label:before {
    transition: none
}

.card--profile .address-actions .checkbox input[type=checkbox]:checked+label:before,
.card--profile .address-actions .checkbox label:before {
    border: 2px solid #001838;
    height: 16px;
    top: 4px;
    width: 16px
}

.card--profile .address-actions .checkbox input[type=checkbox]:checked+label:after {
    background-color: #fff;
    background-image: none;
    border-bottom: 2px solid;
    border-left: 2px solid;
    height: 5px;
    left: 4px;
    top: 8px;
    transform: rotate(-45deg);
    width: 9px
}

.edit-address .address-form .select-toggle {
    border: 1px solid hsla(0, 0%, 60%, .3);
    border-radius: 6px;
    height: 50px;
    justify-content: start;
    padding-left: 20px
}

.order-list-container .order-list__title {
    margin-bottom: 66px
}

.last-orders__next {
    transform: rotate(-90deg)
}

.order-details__value {
    text-overflow: ellipsis;
    white-space: nowrap
}

.order-list-row__body {
    border-bottom: 1px solid #dde6ed
}

.order-list-row__body:nth-last-child(2),
.order-list-row__body:nth-last-child(3) {
    border: none
}

.order-list-row__body .order-list-row {
    min-width: 0
}

.account-password__wrapper h1,
.account-profile__wrapper h1 {
    margin-bottom: 20px
}

@media only screen and (min-width:768px) {

    .account-password__wrapper h1,
    .account-profile__wrapper h1 {
        margin-bottom: 66px
    }
}

.container-order-detail {
    text-transform: none
}

.container-order-detail .order-total-summary {
    word-wrap: break-word;
    font: 400 15px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    letter-spacing: normal;
    line-height: 1.63
}

.container-order-detail .order-total-summary:not(:last-child) {
    padding-right: 10px
}

.container-order-detail .order-total-summary .content-asset {
    font: 400 21px KippaxModernCnd, Gotham Narrow, GothamNarrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    letter-spacing: .21px;
    line-height: 1.29
}

.container-order-detail .order-summary-header,
.container-order-detail .totals-price-label {
    font: 700 15px KippaxModern, Arial, Roboto, Helvetica Neue, Noto Sans, sans-serif, Segoe UI, -apple-system, BlinkMacSystemFont;
    letter-spacing: normal;
    line-height: 1.63;
    text-transform: uppercase
}

.container-order-detail .totals-price-label {
    width: 65%
}
